.basic-book * {
  box-sizing: border-box;
}
.basic-book {
  font-size: clamp(6px, 1vw, 16px);
  width: 15em;
  height: 20em;
  position: relative;
  margin: 0 auto;
}
.book-shape {
  background: #ffffff;
  border: 0.0625em solid #818181;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 15em;
  height: 20em;
  position: relative;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 2em;
  min-width: 20px;
  height: 2em;
  min-height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.book-type1 {
  background-color: var(--color-primary);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.book-type2 {
  background-color: var(--color-primary);
  border-radius: 0 0 var(--radius) var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}
.book-type3 {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  width: 12.1875em;
  height: 9.25em;
  position: absolute;
  left: 3.125em;
  top: 7.875em;
}
.book-type-add {
  background-color: #ffffff;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.book-type-add::after {
  all: unset;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(205, 205, 205, 0.59);
  border-radius: var(--radius);
  z-index : 1;
}
.plus-icon {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/delete.svg');
  background-repeat: no-repeat;
  transform: rotate(45deg);
  background-size: 40%;
  background-position: center;
  filter: invert(30%) sepia(80%) saturate(0%) hue-rotate(66deg) contrast(70%);
  z-index: 2;
}

.book-line {
  position: absolute;
  left: 1.3856em;
  width: 1px;
  height: 100%;
  background-color: black;
  box-shadow:
    -0.5px -0.5px 0 #ffffff,
     0.5px -0.5px 0 #ffffff,
    -0.5px  0.5px 0 #ffffff,
     0.5px  0.5px 0 #ffffff;
}
.fixed-title {
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;

  position: absolute;
  left: 1em;
  top: 1em;
  width: 90%;
}
.book-user {
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: left;
  font-size: 1em;
  text-align: end;
  position: absolute;
  left: 2em;
  top: 3.5em;
  width: 80%;
}

.book-title { 
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  
  position: absolute;
  left: 2.2em;
  top: 6em;
  width: 75%;
}

.bookmark-edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-edit-modal-background {
  background: #ffffff;
  width: 60%;
  height: 80%;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bookmark-color-modal-background {
  background: #ffffff;
  width: 40%;
  height: 30%;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.bookmark-color-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.bookmark-edit-modal-header {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;

  position: relative; 
  font-size: 16px;
}

.bookmark-edit-done {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  padding: 2px 3px;

  background-color: white;
  color: #0f6cfc;
  
  border: 1px solid #0f6cfc;
  border-radius: --radius;
  box-shadow: var(--box-shadow-a);
}
.bookmark-edit-title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

.bookmark-edit-modal-content {
  width: 100%;
  padding-top: 0.5em;
  overflow-y: auto;
}

.bookmark-edit-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}

.bookmark-folder {
  display: flex;
  flex-direction: column; 
}

.bookmark-folder-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.bookmark-folder-header h2 {
  align-self: center;

  font-size: 1.5rem;
  font-weight: 600;
}

.add-bookmark-button {
  all: unset;
  padding: 0.5em 1em;
  background-color: white;
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.bookmark-add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-folder-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}

.choose-bookmark-design {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.bookmark-design-label {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-left: 2em;
  margin-top: 1em;
}

.preview-bookmark-design {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  align-items: center;
}

.set-book-design {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 2em;
}

.bookmark-title-input {
  width: 80%;
  margin-left: 2em;
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
}
.set-book-color {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: left;
  padding-bottom: 2em;
}
.color-square {
  background-color: var(--color-primary);
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--radius);
  border: 1px solid #a6a6a6;
  margin-left: 2em;
  font-size: 17px;
}
.color-picker {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  background-color: var(--color-primary);
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
}

.bookmark-add-done {
  width: 80%;
  margin-left: 2em;
  background-color: var(--color-primary);
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-a);
}