.basic-book * {
  box-sizing: border-box;
}
.basic-book {
  width: 80%;
  min-width: 50px;
  max-width: 160px;
  height: auto;
  aspect-ratio: 3 / 4;
  position: relative;
  margin: 0 auto;
}
.book-shape {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 0.0625em solid #818181;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw, 2em);
}

.delete-icon {
  width: 1em;
  height: auto;
  min-width: 15px;
  max-width: 24px;

  position: absolute;
  top: -0.3em;
  right: -0.5em;

  object-fit: contain;
  cursor: pointer;
}

.book-type1 {
  background-color: var(--color-primary);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.book-type2 {
  background-color: var(--color-primary);
  border-radius: 0 0 var(--radius) var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}
.book-type3 {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: -6%;
  top: 30%;
}
.book-type-add {
  background-color: #ffffff;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.book-type-add::after {
  all: unset;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(205, 205, 205, 0.59);
  border-radius: var(--radius);
  z-index : 1;
}
.plus-icon {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/delete.svg');
  background-repeat: no-repeat;
  transform: rotate(45deg);
  background-size: 40%;
  background-position: center;
  filter: invert(30%) sepia(80%) saturate(0%) hue-rotate(66deg) contrast(70%);
  z-index: 2;
}

.book-line {
  position: absolute;
  left: 15%;
  width: 1px;
  height: 100%;
  background-color: black;
  box-shadow:
    -0.5px -0.5px 0 #ffffff,
     0.5px -0.5px 0 #ffffff,
    -0.5px  0.5px 0 #ffffff,
     0.5px  0.5px 0 #ffffff;
}
.fixed-title {
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: center;
  font-size: 0.5em;
  font-weight: 600;

  position: absolute;
  right: 0.5em;
  top: 8%;
  width: 80%;
}
.book-user {
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: left;
  font-size: 0.4em;
  text-align: end;
  position: absolute;
  right: 0.5em;
  top: 18%;
  width: 80%;
}

.book-title { 
  color: #000000;
  text-shadow:
    -0.8px -1px 0 #ffffff,
     0.8px -1px 0 #ffffff,
    -0.8px  1px 0 #ffffff,
     0.8px  1px 0 #ffffff;
  text-align: center;
  font-size: 0.5em;
  font-weight: 600;
  
  position: absolute;
  right: 0.5%;
  top: 42%;
  width: 70%;
}

.pathgroup-edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pathgroup-edit-modal-background {
  background: #ffffff;
  width: 60%;
  max-width: 700px;
  height: 80%;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pathgroup-color-modal-background {
  background: #ffffff;
  width: 40%;
  max-width: 400px; 
  height: 30%;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.pathgroup-color-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.pathgroup-edit-modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;

  font-size: 16px;
}

.pathgroup-edit-done {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  padding: 2px 3px;

  background-color: white;
  color: #333333;
  
  border: 1px solid #a6a6a6;
  border-radius: --radius;
  box-shadow: var(--box-shadow-a);
}
.pathgroup-edit-title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

.pathgroup-edit-modal-content {
  width: 100%;
  height: calc(100% - 3em);
  padding-top: 0.5em;
  overflow-y: auto;
}

.pathgroup-edit-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}

.pathgroup {
  display: flex;
  flex-direction: column; 
}

.pathgroup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.pathgroup-header h2 {
  align-self: center;

  font-size: 1.5rem;
  font-weight: 600;
}

.add-pathgroup-button {
  all: unset;
  padding: 0.5em 1em;
  background-color: white;
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--box-shadow-a);
}

.pathgroup-add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pathgroup-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}

.choose-pathgroup-design {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.pathgroup-design-label {
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  margin-left: 2em;
  margin-top: 0.4em;
}

.preview-pathgroup-design-label {
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
}

.preview-pathgroup-design {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  align-items: center;
}

.render-preview-pathgroup-design {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-book-design {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5em;
}

.pathgroup-title-input {
  width: 80%;
  padding: 0.3em;
  font-size: 1rem;
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
}
.set-book-color {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: left;
  padding-bottom: 0.5em;
}
.color-square {
  background-color: var(--color-primary);
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--radius);
  border: 1px solid #a6a6a6;
  margin-left: 2em;
  font-size: 17px;
}
.color-picker {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  background-color: var(--color-primary);
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
}

.pathgroup-add-done {
  width: 75%;
  align-items: center;
  margin-left: 1em;
  background-color: var(--color-primary);
  border: 1px solid #a6a6a6;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-a);
}