.post-write-frame {
  width: 100%;
  height: auto;

  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow-a);
  border-radius: var(--radius);
  background-color: var(--color-contents-bg);
  gap: 1rem;
}

.draw-path {
  width: 95%;
  height: auto;

  display: flex;
  border-radius: var(--radius);
  border: 1px solid #000000;
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 2 / 1;
}

.kakao-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: var(--radius);
  overflow: hidden;
}

.draw-tool-container{
  width: 6%;
  height: 100%;

  padding: 1%;
  gap:3.5%;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
}

.draw-tool-drawing, .draw-tool-redo, .draw-tool-undo, .draw-tool-reset{
  width: 100%;
  height: auto;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-contents-bg);
  border: 1px solid #000000;
  aspect-ratio: 1 / 1;
}

.draw-tool-drawing:hover, .draw-tool-redo:hover, .draw-tool-undo:hover, .draw-tool-reset:hover{
  cursor: pointer;
}
.draw-tool-redo:active, .draw-tool-undo:active, .draw-tool-reset:active{
  background-color: var(--color-primary);
}

.draw-tool-drawing{
  background-image: url("../assets/draw.svg");
}
.draw-tool-redo{
  background-image: url("../assets/redo.svg");
}
.draw-tool-undo{
  background-image: url("../assets/undo.svg");
}
.draw-tool-reset{
  background-image: url("../assets/refresh.svg");
}

.map-search-container{
  width: 30%;
  height: 7%;

  top: 1%;
  right: 1%;

  border-radius: var(--radius);
  display: flex;
  box-shadow: var(--box-shadow);
  background-color: var(--color-contents-bg);
  border: 1px solid #000000;
  position: absolute;
  z-index: 10;
}

.map-search-icon{
  width: auto;
  height: 100%;

  margin-left: auto;

  background-image: url("../assets/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.map-search-icon:hover{
  cursor: pointer;
}

.map-search-input{
  width: 100%;
  height: 100%;

  padding: 1%;
  padding-left: 0.75rem;

  font-size: 0.75rem;
}

.frame {
  width: 95%;
  height: auto;

  border-radius: var(--radius);
  border: 1px solid #000000;
  aspect-ratio: 5 / 3;
}

.write-subject {
  width: 100%;

  padding: 1rem 1rem;

  font-weight: 600;
  border-bottom: 1px solid #000000;
}

.tag-list {
  width: 100%;

  padding: 0.3rem 1rem;

  color: var(--color-primary);
  font-weight: 400;
  border-bottom: 1px solid #000000;
}

.ql-container.ql-snow {
  overflow-y: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ql-editor img {
  max-width: 60% !important;
  height: auto !important;
}

.button-container {
  width: 95%;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.submit {
  width: 15rem;
  height: auto;

  padding: 0.5rem;

  font-size: clamp(12px, 1rem, 20px);
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}

.submit:hover {
  cursor: pointer;
}

.cancel {
  width: 15rem;
  height: auto;

  padding: 0.5rem;

  font-size: clamp(12px, 1rem, 20px);
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}

.cancel:hover {
  cursor: pointer;
}

.distance-display{
  width: 95%;

  padding: 1rem;
  
  border-radius: var(--radius);
  border: 1px solid #000000;
  gap: 1rem;
  text-align: left;
  font-size: 1rem;
}

.total-distance-name, .transportation-name{
  font-weight: bold;
}

.search-result {
  width: 30%;
  height: 70%;

  top: 10%;
  right: 1%;

  position: absolute;
  overflow: hidden;
  background-color: var(--color-contents-bg);
  border: 1px solid #000000;
  border-radius: var(--radius);
  z-index: 10;
}
.search-scroll {
  max-height: 86%;
  overflow-y: auto;
  padding-right: 0px; 
}

.search-item {
  padding: 8px 10px;
  cursor: pointer;
}

.search-item:hover {
  background: #f1f1f1;
}

.place-name   { 
  display:block; 
  font-size:0.7rem; 
  font-weight:600; 
}

.place-address { 
  font-size:0.5rem; 
  color:#666; 
}

.search-pagination {
  width: 100%;
  display:flex; 
  justify-content:center; 
  gap: 0.75rem;
  padding: 2%;
  font-size:0.75rem; 
  border-top:1px solid #eee;
  position: absolute;
  bottom: 0;
}

.search-pagination:hover{
  cursor: pointer;
}

.spell-corrector-container{
  width: 95%;
  height: auto;

  padding: 1rem;
  
  border-radius: var(--radius);
  border: 1px solid #000000;
  gap: 1rem;
  text-align: left;
  font-size: 1rem;
  aspect-ratio: 2/1;
}

.spell-corrector-container span{
  font-size: 0.75rem;
}

.spell-corrector-textarea{
  width: 100%;
  height: 25%;

  margin-top: 2%;
  outline: none;
  border: none;
  resize: none;
}
.spell-corrector-response{
  width: 100%;
  height: 25%;

  margin-top: 2%;
  outline: none;
  border: none;
  resize: none;
}

.spell-corrector-toggle{
  width: 95%;
  height: auto;

  color: darkblue;
  text-decoration: underline;
}

.spell-corrector-edit-button{
  width: 100%;

  padding: 1rem;

  font-weight: bold;
  text-align: right;
}