.post-detail-frame {
  width: 100%;
  height: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  
  background-color: transparent;
}

.post-detail-item{
  width: 100%;
  height: 100%;
  min-height: 100vh;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow-a);
  border-radius: var(--radius);
  background-color: var(--color-contents-bg);
  gap: 1rem;
}

.post-detail-map {
  width: 100%;

  background-image: url("");
  background-size: cover;
  background-position: center;

  aspect-ratio: 2 / 1;

  border-radius: var(--radius);
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-bg);
}

.post-detail-show-detail {
  width: 100%;

  padding-right: 0.75rem;
  padding-left: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.post-detail-writer {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.post-detail-profile-pic {
  width: clamp(30px, 1.2vw, 35px);
  height: auto;

  margin-bottom: auto;

  aspect-ratio: 1 / 1;
  background: darkgray;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 1;
}

.post-detail-author {
  font-size: clamp(15px, 0.65rem, 18px);

  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
}

.post-detail-id-with-time {
  font-size: clamp(10px, 0.6rem, 12px);

  letter-spacing: 0.05em;
  font-weight: 400;
  gap: 0.5em;

  text-align: left;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(219, 219, 219, 0.8);
}

.post-detail-show-count {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.post-detail-chats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.post-detail-chat,
.post-detail-heart,
.post-detail-book-open {
  width: 0.75rem;
  height: auto;

  flex-shrink: 0;
  object-fit: contain;
  vertical-align: middle;
}

.post-detail-chat-count,
.post-detail-like-count,
.post-detail-bookmark-count {
  font-size: clamp(15px, 0.65rem, 18px);
}

.post-detail-likes,
.post-detail-bookmarks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.post-detail-like-count {
  color: var(--color-accent);
}

.post-detail-bookmark-count {
  color: var(--color-primary);
}

.post-detail-show-text {
  width: 100%;

  font-size: clamp(15px, 0.65rem, 18px);

  padding-right: 0.75rem;
  padding-left: 0.75rem;

  font-weight: 400;
  text-align: left;
}

.post-detail-subject-detail {
  width: 100%;

  font-size: clamp(18px, 1rem, 24px);

  font-weight: 700;
  border-bottom: 1px solid #000000;
}

.post-detail-tag-list {
  font-size: clamp(15px, 0.65rem, 18px);

  text-align: right;
  color: var(--color-primary);
  border-bottom: 1px solid #000000;
}

.post-detail-description-all {
  font-size: clamp(15px, 0.65rem, 18px);
}

.post-detail-comment-desc {
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  align-self: flex-start;
}

.post-detail-comment-explain {
  font-size: clamp(15px, 0.65rem, 18px);

  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}

.post-detail-comment-container {
  width: 100%;

  border-radius: var(--radius);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.post-detail-comment-buttons{
  width: 100%;
  height: auto;

  padding: 0.5rem;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.comment-btn-cancel, .comment-btn-submit{
  width: 10%;
  border-radius: var(--radius);
  font-size: 0.9rem;
  cursor: pointer;
}

.comment-btn-cancel {
  background: var(--color-bg);
}

.comment-btn-submit {
  background: var(--color-primary);
}

.post-detail-comment-textarea {
  width: 100%;

  padding: 0.5rem;
  gap: 1rem;

  display: flex;
  align-items: center;
}

.post-detail-comment-input {
  width: 100%;

  font-size: clamp(15px, 0.65rem, 18px);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
}
.post-detail-comment-input:focus{
  outline: none;
}

.post-detail-comment-push:hover {
  cursor: pointer;
}

.post-detail-text {
  font-size: clamp(15px, 0.65rem, 18px);

  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
  word-break: break-word;
  white-space: normal;
  flex-wrap: wrap;
}

.post-detail-id {
  color: darkgray;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: clamp(10px, 0.65vw, 12px);
  letter-spacing: 0.05em;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.post-detail-time {
  width: auto;
  height: auto;
}

.post-detail-button-container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.post-detail-cancel, .post-detail-edit, .post-detail-delete{
  width: 7rem;
  height: auto;

  padding: 0.1rem;

  font-size: 0.9rem;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}

.post-detail-cancel:hover,.post-detail-edit:hover, .post-detail-delete:hover {
  cursor: pointer;
}
.post-detail-comment-likes {
  font-size: clamp(10px, 0.65rem, 12px);

  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  letter-spacing: 0.05em;
}

.post-detail-comment-item,
.post-detail-reply-item {
  width: 100%;

  font-size: clamp(15px, 0.65rem, 18px);

  padding: 0.5rem;
}

.post-detail-reply-item {
  padding-left: 3rem;
  display: flex;
  align-items: start;
}

.post-detail-space {
  width: 100%;
}

.post-detail-cm-id {
  font-size: clamp(8px, 1rem, 12px);

  color: #000000;
  font-weight: bold;
}

.post-detail-interaction-container {
  display: flex;
  justify-self: start;
  gap: 0.5rem;
}

.post-detail-cm-like-count {
  display: inline-block;
}

.post-detail-cm-reply-count {
  display: inline-block;
}

.post-detail-comment-reply {
  font-size: clamp(10px, 0.65rem, 12px);

  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  letter-spacing: 0.05em;
}
.post-detail-comments-container{
  width: 100%;
  height: auto;

  padding-left: 1rem;
  padding-right: 1rem;

  overflow-x: hidden;
}