.post-write-frame {
  width: 100%;
  height: auto;

  padding: 1rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 1rem;
}

.draw-path {
  width: 95%;
  height: auto;

  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 2 / 1;
}

.kakao-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.draw-tool-container {
  width: 7%;
  height: 100%;

  padding: 1%;
  gap: 3.5%;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
}

.draw-tool-drawing,
.draw-tool-redo,
.draw-tool-undo,
.draw-tool-reset {
  width: 100%;
  height: auto;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d9d9d9;
  border: 1px solid #000000;
  aspect-ratio: 1 / 1;
}

.draw-tool-drawing:hover,
.draw-tool-redo:hover,
.draw-tool-undo:hover,
.draw-tool-reset:hover {
  cursor: pointer;
}
.draw-tool-redo:active,
.draw-tool-undo:active,
.draw-tool-reset:active {
  background-color: #ffc300;
}

.draw-tool-drawing {
  background-image: url("../assets/draw.svg");
}
.draw-tool-redo {
  background-image: url("../assets/redo.svg");
}
.draw-tool-undo {
  background-image: url("../assets/undo.svg");
}
.draw-tool-reset {
  background-image: url("../assets/refresh.svg");
}

.map-search-container {
  width: 30%;
  height: 10%;

  top: 1%;
  right: 1%;

  display: flex;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #d9d9d9;
  border: 1px solid #000000;
  position: absolute;
  z-index: 10;
}

.map-search-icon {
  width: auto;
  height: 100%;

  margin-left: auto;

  background-image: url("../assets/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.map-search-icon:hover {
  cursor: pointer;
}

.map-search-input {
  width: 100%;
  height: 100%;

  padding: 1%;

  font-size: 1.2vw;
}

.frame {
  width: 95%;
  height: auto;

  border-radius: 0.5rem;
  border: 1px solid #000000;
  aspect-ratio: 5 / 3;
}

.write-subject {
  width: 100%;

  padding: 1rem 1rem;

  font-weight: 600;
  border-bottom: 1px solid #000000;
}

.tag-list {
  width: 100%;

  padding: 0.3rem 1rem;

  color: #ffc400;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}

.button-container {
  width: 95%;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.submit {
  width: 15rem;
  height: auto;

  padding: 0.5rem;

  font-size: clamp(12px, 1rem, 20px);
  font-weight: bold;
  text-align: center;
  background-color: #ffc300;
  border-radius: clamp(1px, 0.5rem, 10px);
}

.submit:hover {
  cursor: pointer;
}

.cancel {
  width: 15rem;
  height: auto;

  padding: 0.5rem;

  font-size: clamp(12px, 1rem, 20px);
  font-weight: bold;
  text-align: center;
  background-color: #ffc300;
  border-radius: clamp(1px, 0.5rem, 10px);
}

.cancel:hover {
  cursor: pointer;
}
