#background-color-gray {
  font-size: clamp(12px, 1.5rem, 20px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: gray;
}

html,
body {
  width: 100%;
  min-width: 1280px;
  height: 100%;

  background-color: var(--color-contents-bg);
}

.landing-main-container {
  width: 100%;

  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
}

.landing-container {
  width: 100%;
  max-width: 1280px;
  height: auto;

  margin-top: clamp(30px, 3rem, 80px);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  aspect-ratio: 2/1;
}

.landing-container-right {
  width: 100%;
  height: auto;

  padding-top: clamp(30px, 5rem, 80px);

  display: flex;
  flex-direction: column;
  align-items: end;
}

.welcome {
  width: 50%;
  height: 100%;
}

.login-button {
  width: auto;
  height: auto;
}

.login-button-text {
  width: 30%;
  height: auto;

  font-size: clamp(14px, 1.5rem, 24px);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-a);
  background-color: var(--color-primary);
  aspect-ratio: 4/1;
  border-radius: var(--radius);
}

.landing-contents-viewer {
  width: 90%;

  margin-top: 2rem;

  aspect-ratio: 8 / 5;
}

.landing-details-container {
  width: 100%;
  height: auto;

  margin-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
}

.details-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;

  padding-bottom: clamp(48px, 10rem, 160px);

  display: flex;
}

.footer-container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2e2e2e;
  color: #e2e2e2;
  aspect-ratio: 15/1;
}
