@import "tailwindcss";

.landing-container {
  @apply mx-auto flex min-h-screen max-w-2/3 min-w-2xl flex-col items-center justify-center px-10;
}

.landing-info {
  @apply w-full flex-row;
}

.info-header {
  @apply flex flex-row items-end justify-between py-4;
}

.info-body {
  @apply flex flex-col items-start justify-between gap-16 pt-16 pb-8 lg:flex-row lg:items-center lg:justify-stretch;
}

.info-content {
  @apply justify-center md:flex md:flex-col md:items-center;
}

.desc-container {
  @apply py-4;
}

.desc {
  @apply text-pretty;
}

.attract-container {
  @apply flex flex-col items-center justify-center gap-2 py-4;
}

.landing-main-container {
  width: 100%;

  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
}

.landing-container-right {
  width: 100%;
  height: auto;

  padding-top: clamp(30px, 5rem, 80px);

  display: flex;
  flex-direction: column;
  align-items: end;
}

.welcome {
  width: 50%;
  height: 100%;
}

.login-button {
  width: auto;
  height: auto;
}

.login-button-text {
  width: 30%;
  height: auto;

  font-size: clamp(14px, 1.5rem, 24px);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-a);
  background-color: var(--color-primary);
  aspect-ratio: 4/1;
  border-radius: var(--radius);
}

.landing-contents-viewer {
  width: 90%;

  margin-top: 2rem;

  aspect-ratio: 8 / 5;
}

.landing-details-container {
  width: 100%;
  height: auto;

  margin-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
}

.details-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;

  padding-bottom: clamp(48px, 10rem, 160px);

  display: flex;
}

.footer-container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2e2e2e;
  color: #e2e2e2;
  aspect-ratio: 15/1;
}

.catchphrase {
  width: 100%;

  padding: clamp(8px, 1rem, 20px);
  margin-top: clamp(12px, 3rem, 40px);

  display: flex;
  font-size: clamp(16px, 4rem, 36px);
  font-weight: 700;
  text-align: left;
}

.intro-section {
  width: 100%;
  height: clamp(44px, 11rem, 160px);

  padding: clamp(12px, 1.5rem, 24px);

  display: flex;
  aspect-ratio: 2/1;
  text-align: left;
  font-size: clamp(12px, 1.3rem, 22px);
  font-weight: 300;
}

.intro-section ul {
  padding-left: clamp(8px, 1rem, 20px);

  list-style-type: disc;
}

.join-section {
  width: 100%;

  margin-top: clamp(16px, 4rem, 64px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-section-title {
  width: 100%;

  margin-bottom: clamp(4px, 0.5rem, 12px);

  font-size: clamp(10px, 1rem, 18px);
  text-align: center;
}

.button-text {
  font-size: clamp(14px, 1.5rem, 24px);
  font-weight: 700;
}

.guest-text {
  width: 100%;

  font-size: clamp(8px, 0.625rem, 14px);
  letter-spacing: clamp(1px, 0.1rem, 2px);
  text-align: center;
  text-decoration: underline;
  color: #666666;
}
