html,
body {
  width: 100%;
  height: 100%;
  min-width: 720px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
}

.mainpage {
  width: 100%;
  max-width: 1720px;
  height: 100%;

  transform: translateX(-20%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-menu-container {
  width: 20%;
  height: 100%;

  margin-left: auto;
  position: relative;
}

.edit {
  width: 8%;

  visibility: hidden;
}
.profile-name:hover .edit,
.profile-bio:hover .edit {
  visibility: visible;
  cursor: pointer;
}

.menu-container {
  width: 80%;
  height: auto;
  
  right: 10%;
  padding: clamp(5px, 0.5rem, 10px);
  padding-top: clamp(10px, 1rem, 15px);

  box-shadow: var(--box-shadow);
  background-color: var(--color-contents-bg);
  position: absolute;
  border-radius: var(--radius);
  aspect-ratio: 4/9;
}

.profile {
  width: 100%;

  margin-bottom: clamp(6px, 1vw, 18px);

  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.profile-info {
  padding-top: 5%;
  padding-left: 5%;

  font-size: clamp(4px, 0.8vw, 16px);
}

.profile-name {
  font-size: clamp(6px, 1vw, 18px);
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.profile-bio {
  display: flex;
  align-items: flex-end;
}

.profile-image {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background-color: var(--color-primary);
}

.menu-item {
  width: 100%;

  padding-top: clamp(6px, 1vw, 18px);

  font-weight: bold;
  display: flex;
  justify-content: center;
}
.menu-item:hover {
  cursor: pointer;
}

.menu-item span {
  width: 75%;

  margin-left: 5%;
  margin-right: 5%;

  background-color: var(--color-bg-surface);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item.selected span {
  background-color: var(--color-primary);
}

.menu-item.selected img {
  color: var(--color-primary);
  filter: brightness(1) saturate(100%) invert(80%) sepia(100%) saturate(750%)
    hue-rotate(5deg);
}

.main-content-container {
  width: 60%;
  height: 5000px;

  background-color: var(--color-contents-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-head {
  width: 100%;
  height: clamp(5rem, auto, 8rem);

  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5rem;

  box-shadow: var(--box-shadow-a);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  font-size: clamp(12px, 100%, 28px);
  font-weight: bold;
}

.search-textbox {
  width: 90%;
  height: 100%;

  padding-left: 2.5%;

  background-color: var(--color-contents-bg);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

input:focus {
  outline: none;
}

.search-button {
  height: 100%;

  padding: clamp(1px, 0.5rem, 10px);
  padding-right: 0.55px;
  padding-left: 0.55px;

  transform: scaleX(1.1);
  background-color: var(--color-contents-bg);
}

.search-button:hover {
  cursor: pointer;
}

.write-button {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;

  padding: clamp(1px, 0.5rem, 10px);

  background-color: var(--color-contents-bg);
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-position: center center;
  background-size: cover;
}
.write-button:hover {
  cursor: pointer;
}

.profile-options {
  width: 70%;

  margin-top: 5%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: clamp(3px, 0.6vw, 10px);
  text-decoration: underline;
}

.anonymity-comment {
  width: 100%;

  text-align: center;
  font-size: clamp(12px, 1vw, 20px);
  font-weight: bold;
  margin-bottom: 5%;
}

.login-button {
  width: 100%;

  margin-bottom: 5%;
  padding: 2%;

  font-size: clamp(12px, 1vw, 20px);
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}

.login-button:hover {
  cursor: pointer;
}

.register-button {
  width: 100%;

  margin-bottom: 5%;
  padding: 2%;

  font-size: clamp(12px, 1vw, 20px);
  font-weight: bold;
  text-align: center;
  background-color: var(--color-accent);
  border-radius: var(--radius);
}

.register-button:hover {
  cursor: pointer;
}

.articlewrite-container {
  width: 90%;
  height: auto;
  aspect-ratio: 3/4;
}
.article-contents {
  width: 100%;
}
.article-contents:hover {
  cursor: pointer;
}

.article-detail-contents {
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .main-menu-container {
    width: 10%;
    height: 100%;

    margin-left: auto;
    position: relative;
  }

  .menu-container {
    width: 60%;
    height: auto;

    right: 20%;
    
    box-shadow: var(--box-shadow);
    background-color: var(--color-contents-bg);
    position: absolute;
    border-radius: var(--radius);
    aspect-ratio: 1/5;
  }

  .main-content-container{
    width: 80%;
  }
  .mainpage{
    width: 100%;
    transform: translateX(-10%);
  }

  .content-head {
    width: 100%;
    height: clamp(5rem, auto, 8rem);

    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5rem;

    box-shadow: var(--box-shadow-a);
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    font-size: clamp(8px, 100%, 10px);
  }

  .search-textbox {
    width: 90%;
    height: 100%;

    padding-left: 2.5%;

    background-color: var(--color-contents-bg);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  .write-button {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;

    background-color: var(--color-contents-bg);
    border-radius: var(--radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .profile-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--color-primary);
  }

  .profile-info {
    width: 0;
    height: 0;

    visibility: hidden;
  }
  
  .menu-item {
    width: 100%;

    padding-top: clamp(6px, 1vw, 18px);

    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .menu-item span {
    width: 0;
    visibility: hidden;
  }

  .anonymity-comment {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .login-button {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .register-button {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
