@keyframes shake {
  0% {
    transform: translateX(0);
    background-color: var(--color-accent);
  }
  20% {
    transform: translateX(-5px);
    background-color: var(--color-accent);
  }
  40% {
    transform: translateX(5px);
    background-color: var(--color-accent);
  }
  60% {
    transform: translateX(-5px);
    background-color: var(--color-accent);
  }
  80% {
    transform: translateX(5px);
    background-color: var(--color-accent);
  }
  100% {
    transform: translateX(0);
    background-color: var(--color-contents-bg);
  }
}

html,
body {
  background-color: var(--color-contents-bg);
}

.shake {
  animation: shake 0.3s;
}

.logo {
  width: 100%;
  height: auto;

  margin-top: 2rem;

  display: flex;
  justify-content: center;
}
.logo img {
  width: 12vw;
  min-width: 150px;
}

.register {
  width: 100%;
  height: auto;

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
}

.register-container {
  background-color: var(--color-bg);

  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: auto;

  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.register-text {
  width: 100%;
  height: auto;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
  font-weight: bold;
}

input:focus {
  outline: 2px solid var(--color-primary);
}

.register-form-section {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  height: auto;

  padding: 0.2rem 0.5rem;

  background-color: var(--color-contents-bg);

  border-radius: var(--radius);
}

.register-form-submit {
  width: 100%;
  min-height: 2rem;
  height: auto;

  margin-top: 3rem;

  background-color: var(--color-primary);
  border-radius: var(--radius);
  cursor: pointer;
}

.register-form-submit:disabled {
  background-color: #94928a;
}

.other-menu-container {
  width: 100%;

  display: flex;
  justify-content: center;

  color: black;
  font-size: small;
}
.other-menu-container a {
  color: black;
  text-decoration: underline;
}

.password-mismatch {
  font-size: small;
}

.password-guide {
  margin-bottom: 0.5rem;

  font-size: small;
}

.constraint {
  color: var(--color-accent);
  font-weight: bold;
}

.constraint-satisfied {
  color: #54b961;
  font-weight: bold;
}
