@keyframes shake {
  0% {
    transform: translateX(0);
    background-color: var(--color-accent);
  }
  20% {
    transform: translateX(-5px);
    background-color: var(--color-accent);
  }
  40% {
    transform: translateX(5px);
    background-color: var(--color-accent);
  }
  60% {
    transform: translateX(-5px);
    background-color: var(--color-accent);
  }
  80% {
    transform: translateX(5px);
    background-color: var(--color-accent);
  }
  100% {
    transform: translateX(0);
    background-color: var(--color-contents-bg);
  }
}

.shake {
  animation: shake 0.3s;
}

html,
body {
  background-color: var(--color-contents-bg);
}

.logo {
  width: 100%;
  height: auto;

  margin-top: 2rem;

  display: flex;
  justify-content: center;
}
.logo img {
  width: 12vw;
  min-width: 150px;
}

.find-password {
  width: 100%;
  height: auto;

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
}

.find-password-container {
  background-color: var(--color-bg);

  width: 50%;
  max-width: 450px;
  min-width: 300px;
  height: auto;

  margin-top: 3rem;
  padding: 0 1rem 1rem 1rem;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.find-password-text {
  width: 100%;
  height: auto;

  padding: 0.5rem 0;

  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

.find-password-description {
  font-size: small;
  margin-bottom: 1rem;
}

.find-password-form {
  width: 100%;
}

.find-password-form-section {
  margin-bottom: 1rem;
}

.find-password-submit {
  width: 100%;
  min-height: 2rem;
  height: auto;

  margin-top: 2rem;

  background-color: var(--color-primary);
  border-radius: var(--radius);
  cursor: pointer;
}

.input {
  width: 100%;
  height: auto;

  padding: 0.2rem 0.5rem;

  background-color: var(--color-contents-bg);

  border-radius: var(--radius);
}

input:focus {
  outline: 2px solid var(--color-primary);
}

.password-mismatch {
  font-size: small;
}

.password-guide {
  margin-bottom: 0.5rem;

  font-size: small;
}

.constraint {
  color: var(--color-accent);
  font-weight: bold;
}
