.article-contents-frame {
  width: 100%;
  max-width: 800px;
  height: auto;

  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.map {
  background-image: url('./app/features/assets/image/samplepic3.png');

  background-size: cover;
  width: 100%;
  aspect-ratio: 2 / 1;

  gap: 1rem;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  box-sizing: border-box;
  background-position: center;
  border-radius: 0.5rem;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  position: relative;
}
.map::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}


.show-detail {
  width: 100%;

  gap: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.writer {
  gap: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-pic {
  width: clamp(30px, 1.2vw, 40px);
  aspect-ratio: 1 / 1;

  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
}


.author {
  font-size: clamp(15px, 0.65rem, 18px);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;  
}

.comment-info {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.id-with-time {
  font-size: clamp(10px, 0.65vw, 12px);
  letter-spacing: 0.05em;

  font-weight: 400;
  gap: 0.5em;

  text-align: left;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(219, 219, 219, 0.8);
}
.comment-likes {
  display: flex;

  gap: 0.5em;
  margin-left: auto;

  flex-direction: row;
  align-items: center;
  font-size: clamp(10px, 0.65vw, 12px);
  letter-spacing: 0.05em;
}
.cm-like-count {
  font-size: 0.9rem;
  display: inline-block;
}
.show-count {
  gap: 1.5rem;
  display: flex;
  align-items: center;
}

.chats {
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat {
  width: 1.5rem;
  flex-shrink: 0;
}

.chat-count {
  font-size: clamp(15px, 0.65rem, 18px);
}

.likes {
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heart {
  width: 1.5rem;
  flex-shrink: 0;
  object-fit: contain;
  vertical-align: middle;
}

.like-count {
  color: #ff7d90;
}

.bookmarks {
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-open {
  width: 1.5rem;
  flex-shrink: 0;
}

.bookmark-count {
  color: #ffc400;
}

.show-text {
  font-size: clamp(15px, 0.65rem, 18px);
  font-weight: 400;

  text-align: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.subject {
  font-size: clamp(18px, 1rem, 24px);
  font-weight: 700;
}

.tag-list {
  font-size: clamp(15px, 0.65rem, 18px);
  text-align: right;
  color: #ffc400;
}

.description {
  font-size: clamp(15px, 0.65rem, 18px);
}

.comment-desc {
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  gap: 0.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

.comment-explain {
  font-size: clamp(15px, 0.65rem, 18px);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;  
}

.comment-container {
  width: calc(100% - 3rem);

  border-radius: 0.5rem;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.comment-textarea {
  width: 100%;

  padding: 1rem;
  gap: 1rem;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.comment-input {
  font-size: clamp(15px, 0.65rem, 18px);
  width: 100%;

  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
}
.comment-push {
  font-size: clamp(15px, 0.65rem, 18px);

  padding: 0.5rem 1rem;
  aspect-ratio: 2 / 1;
  margin-left: auto;

  border-radius: 0.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc400;

}

.comment-list {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.comment-item {
  font-size: clamp(15px, 0.65rem, 18px);
  width: 100%;

  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #000000;
}

.space {
  width: 100%;
}

.text {
  font-size: clamp(15px, 0.65rem, 18px);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
  
  word-break: break-word;
  white-space: normal;
  flex-wrap: wrap;
}

.reply-item {
  font-size: clamp(15px, 0.65rem, 18px);
  width: 100%;

  padding: 0.5rem;
  padding-left: 3rem;

  display: flex;
  align-items: center;
  border-top: 1px solid hsl(0, 0%, 0%);
}