#background-color-gray {
  background-color: gray;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-main-container {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-left: 3rem;
  padding-right: 3rem;
}

.landing-container {
  width: 100%;
  max-width: 1350px;
  min-width: 135px;
  height: auto;
  aspect-ratio: 2/1;

  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.landing-container-right {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: end;
}

.info {
  width: 50%;
  height: 100%;
}

.login-button {
  width: 30%;
  height: auto;
  aspect-ratio: 4/1;
}

.landing-contents-viewer {
  width: 90%;
  height: auto;
  aspect-ratio: 8/5;

  margin-top: 2rem;
}

.landing-info-container {
  width: 100%;
  height: auto;

  margin-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;

}

.info-container {
  width: 100%;
  max-width: 1550px;
  min-width: 155px;
  height: 100%;

  display: flex;
  padding-bottom: 12vw;
}

.footer-container {
  background-color: #2e2e2e;

  width: 100%;
  height: auto;
  aspect-ratio: 15/1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #e2e2e2;
}
