@keyframes shake {
  0% { transform: translateX(0); background-color: #FF7D90;}
  20% { transform: translateX(-5px); background-color: #FF7D90;}
  40% { transform: translateX(5px); background-color: #FF7D90;}
  60% { transform: translateX(-5px); background-color: #FF7D90;}
  80% { transform: translateX(5px); background-color: #FF7D90;}
  100% { transform: translateX(0); background-color: white;}
}

html, body{
  background-color: #FFFDF8;
}

.shake {
  animation: shake 0.3s;
}

.logo {
  width: 100%;
  height: auto;

  margin-top: 2rem;

  display: flex;
  justify-content: center;
}
.logo img{
  width: 12vw;
  min-width: 150px;
}

.register {
  width: 100%;
  height: auto;

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
}

.register-container {
  background-color: #E6E6E6;

  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: auto;

  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.register-text {
  width: 100%;
  height: auto;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
  font-weight: bold;
}

input:focus {
  outline: 2px solid #FFC300;
}

.register-form-section {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  height: auto;

  padding: 0.2rem 0.5rem;

  background-color: white;

  border-radius: 0.5rem;
}

.register-form-submit {
  width: 100%;
  min-height: 2rem;
  height: auto;

  margin-top: 3rem;

  background-color: #FFC300;
  border-radius: 0.5rem;
  cursor: pointer;
}

.other-menu-container {
  width: 100%;

  display: flex;
  justify-content: center;

  color: black;
  font-size: small;
}
.other-menu-container a{
  color: black;
  text-decoration: underline;
}

.password-mismatch{
  font-size: small;
}

.password-guide{
  margin-bottom: 0.5rem;
  
  font-size: small;
}

.constraint{
  color: #FF7D90;
  font-weight: bold;
}