@keyframes shake {
  0% { transform: translateX(0); background-color: #FF7D90; }
  20% { transform: translateX(-5px); background-color: #FF7D90; }
  40% { transform: translateX(5px); background-color: #FF7D90; }
  60% { transform: translateX(-5px); background-color: #FF7D90; }
  80% { transform: translateX(5px); background-color: #FF7D90; }
  100% { transform: translateX(0); background-color: white; }
}

.shake {
  animation: shake 0.3s;
}

.logo {
  width: 100%;
  height: auto;

  margin-top: 2rem;

  display: flex;
  justify-content: center;
}

.find-password {
  width: 100%;
  height: auto;

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
}

.find-password-container {
  background-color: #E6E6E6;

  width: 50%;
  max-width: 750px;
  min-width: 135px;
  height: auto;

  margin-top: 3rem;
  padding: 0 1rem 1rem 1rem;

  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.find-password-text {
  width: 100%;
  height: auto;

  padding: 0.5rem 0;

  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

.find-password-description {
  font-size: small;
  margin-bottom: 1rem;
}

.find-password-form {
  width: 100%;
}

.find-password-form-section {
  margin-bottom: 1rem;
}

.find-password-submit {
  width: 100%;
  min-height: 2rem;
  height: auto;

  margin-top: 2rem;

  background-color: #FFC300;
  border-radius: 0.5rem;
  cursor: pointer;
}

.input {
  width: 100%;
  height: auto;

  padding: 0.2rem 0.5rem;

  background-color: white;

  border-radius: 0.5rem;
}

input:focus {
  outline: 2px solid #FFC300;
}

.password-mismatch{
  font-size: small;
}

.password-guide{
  margin-bottom: 0.5rem;
  
  font-size: small;
}

.constraint{
  color: #FF7D90;
  font-weight: bold;
}